@yiColor: #66ccff88;
@lingColor: #ee000088;

@appWidth: 420px;
@appHeight: 800px;

// vant 样式修改 
.van-cell__title {
  text-align: left;
}

.van-cell-group__title--inset {
  text-align: left;
}

.van-button--default {
  color: #000000;
  background-color: #66ccff96 !important;
  border: 1px solid #ffffff6e;
}
.van-button--disabled {
  opacity: 1 !important;
}

.van-tag--default {
  background-color: #66ccff;
}

.van-checkbox__icon--checked .van-icon {
  color: #ee0000 !important;
  background-color: #66ccff55 !important;
  border-color: #66ccff88 !important;
}


.van-popover--light {
  font-size: 14px !important;
  color: #8d8de7 !important;
  .van-popover__arrow {
    color: #d9d9d9 !important;
  }
}
.van-popover__content {
  border: 1px solid !important;
  padding: 2px 9px !important;
  margin-top: 3px !important;
}


